:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(31, 41, 55, 0.87);
  background-color: #f8fafc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #3b82f6;
  text-decoration: inherit;
}
a:hover {
  color: #1e40af;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #1e3a8a;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1e3a8a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #1e40af;
}
button:focus,
button:focus-visible {
  outline: 4px auto #3b82f6;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #1e40af;
  }
  button {
    background-color: #3b82f6;
  }
  button:hover {
    background-color: #1e40af;
  }
}
